/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    padding: 0px 7px;
    font-size: 1rem;
    padding-bottom: 8px;
}
/* Home */
#home{
 height: 370px;
 padding: 5px 28px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 7px;
}

/* Services */
#services{
    flex-direction: column;

}
#services .box{
   margin: 2px 0px;
   padding: 14px;
   margin-bottom: 20px;
}
/* Clients */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}
#contact-box form{
    width: 80%;
}